<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input message</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <input required name="username" type="text" placeholder="name" />
      <input
        required
        name="message_content"
        type="text"
        placeholder="message"
      />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
